<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Распознавание изображений</title>
    <link href="{{ url_for('static', filename='style/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style/main.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='script/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='script/underscore-min.js') }}"></script>
    <script src="{{ url_for('static', filename='script/main.js') }}"></script>
</head>
<body>
<div class="container">
    <h3>Распознавание изображений</h3>
    <p>Классы: {{ ', '.join(labels) }}</p>
    <form method="post" enctype="multipart/form-data" action="{{ url_for('do_predict') }}" id="processForm">
        <input type="file" name="image" accept="image/*" id="image">
        <input type="submit" value="Распознать">
    </form>
    <textarea id="resultArea" rows="8" disabled="disabled"></textarea>
</div>
</body>
</html>